[Unit]
Description=Worldpay Flask Service
After=network.target

[Service]
User=ec2-user
Group=ec2-user
WorkingDirectory=/home/ec2-user
ExecStart=/usr/bin/python3.11 -m gunicorn --bind 0.0.0.0:80 app:application
# fastapi uvicorn main:app --host 0.0.0.0 --port 8000 --reload
Restart=on-failure

AmbientCapabilities=CAP_NET_BIND_SERVICE
# 1024번 미만 포트를 바인딩 할 수 있도록 권한 부여
CapabilityBoundingSet=CAP_NET_BIND_SERVICE

NoNewPrivileges=true
# 프로세스의 권한 상승 방지

[Install]
WantedBy=multi-user.target
EOF